<!DOCTYPE html>
<html lang="en" id="home">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../base.css'>
    <link rel='stylesheet' href='../styles/about.css'>
    <title>Fortiss</title>
</head>
<body>
    <div class="scroller">
        <header id="navbarbox">
            <div class="logo"></div>
            <div class="controllers">
                <a href="../index.html" class="navBtn">Inicio</a>  
                <a href="store.html" class="navBtn">Tienda</a>
            </div>
            <div class="account" id="accountBtn" onclick="goTo2()"></div>
        </header>
    </div>

    <h2>Quienes somos?</h2>

    <div class="aboutbkg">
        <div class="about" id="about">
            <h1>Sobre nosotros</h1>
            <p>En Fortiss, nos dedicamos a la distribucion y venta de suplmentos
                    de alta calidad. Fundados en 2024, nuestra mision ha sido siempre
                    el bienestar del cliente y las relaciones calidad-precio.
                </p>
                <h3>Mision</h3>
                <p>Ofrecer los suplementos alimenticios y deportivos que cumplan con los 
                    mas altos estandares de calidad, proporcionando a nuestros clientes 
                    productos efectivos, seguros y confiables. Nos comprometemos a trabajar
                    con honestidad y transparencia en todo lo que hacemos.
                </p>
                <h3>Vision</h3>
                <p>Convertirnos en una empresa reconocida en Cuba por la calidad de el 
                    trabajo y el servicio al cliente. Buscamos impactar positivamente
                    en la vida de las personas y la sociedad ofreciendoles soluciones
                    nutricionales que apoyen su bienestar general.
                </p>
            </div>
        </div>



    <footer>
        <div class="container__footer">
            
            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="about.html">Acerca de</a>
                <a href="contact.html#form">Trabajos</a>
                <a href="store.html">Productos</a>              
                <a href="privacy.html">Politica de Privacidad</a>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
            </div>
            
            <div class="box__footer">
                <div class="terms">
                    <p>Fortiss, el logo de Fortiss y sus subyacentes son propiedad de Fortiss.Co y de sus respectivos duenos. <br>
                    Al comprar en Fortiss, usted admite que ha leido y esta de acuerdo con los <a href="templates/terms.html">Terminos y Condiciones</a></p>
                </div>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2025 <b>Fortiss Suplementos</b></p>
        </div>
    </footer>


    <script src="../script/a.js"></script>
    <script src="../script/nav&scroll.js"></script>
</body>
</html>