<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../base.css'>
    <link rel="stylesheet" href="../styles/privacy.css">
    <title>Politica de privacidad</title>
</head>
<body>
    <body class="politics_body">
        <div class="microheader">
            <div class="micrologo" id="micrologo" onclick="home()"></div>
        </div>
        
        <div class="politics">
            <h1>POLÍTICA DE PRIVACIDAD DE FORTISS</h1>
            
            <h2>En Fortiss, respetamos y valoramos la privacidad de nuestros clientes. Esta política describe cómo recopilamos, utilizamos y protegemos tu información personal cuando interactúas con nuestros servicios.</h2>

            <h3>1. Información que Recopilamos Podemos recopilar la siguiente información cuando utilizas nuestros servicios:</h3>

            <ul>Datos personales: como nombre, dirección de correo electrónico, número de teléfono y dirección física.</ul>
            <ul>Información de pago: necesaria para procesar tus compras.</ul>
            <ul>Datos de uso: información sobre cómo interactúas con nuestro sitio web, como dirección IP y cookies.</ul>

            <h3>2. Uso de tu Información Utilizamos tu información para:</h3>

            <ul>Procesar y gestionar tus pedidos.</ul>

            <ul>Mejorar nuestros servicios y personalizar tu experiencia.</ul>

            <ul>Enviar actualizaciones y ofertas especiales, siempre con tu consentimiento.</ul>

            <h3>3. Protección de tus Datos Adoptamos medidas técnicas y organizativas para garantizar la seguridad de tu información personal. Sin embargo, ten en cuenta que ningún método de transmisión o almacenamiento es completamente seguro.</h3>

            <h3>4. Compartir Información con Terceros No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en los siguientes casos:</h3>

            <ul>Para cumplir con obligaciones legales.</ul>

            <ul>Cuando sea necesario para procesar pedidos, como compartir información con proveedores o servicios de envío.</ul>

            <h3>5. Tus Derechos Como usuario, tienes derecho a:</h3>

            <ul>Acceder, rectificar o eliminar tus datos personales.</ul>

            <ul>Revocar tu consentimiento para el uso de tus datos en cualquier momento.</ul>

            <ul>Presentar una queja ante las autoridades de protección de datos locales si crees que tus derechos han sido infringidos.</ul>

            <h3>6. Cambios en esta Política Fortiss puede actualizar esta política ocasionalmente. Te recomendamos revisarla periódicamente para estar informado sobre cómo protegemos tu privacidad.</h3>

            <h3>7. Contacto Si tienes alguna pregunta o inquietud, puedes contactarnos en <br> <a href="">fortissuplmentos@gmail.com</a></h3>

        
        </div>
    
        <script src="../script/a.js"></script>
    
</body>
</html>