<!DOCTYPE html>
<html lang="en" id="home">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../base.css'>
    <link rel='stylesheet' href='../styles/store.css'>
    <title></title>
</head>
<body>
    <div class="scroller">
        <header id="navbarbox">
            <div class="logo"></div>
            <div class="controllers">
                <a href="../index.html" class="navBtn">Inicio</a>  
                <a href="store.html" class="navBtn">Tienda</a>
            </div>
            <div class="account" id="accountBtn" onclick="goTo2()"></div>
        </header>
    </div>

    
    <footer>
        <div class="container__footer">
            
            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="about.html">Acerca de</a>
                <a href="contact.html#form">Trabajos</a>
                <a href="store.html">Productos</a>              
                <a href="privacy.html">Politica de Privacidad</a>
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#">Facebook</a>
                <a href="#">Twitter</a>
                <a href="#">Instagram</a>
            </div>
            
            <div class="box__footer">
                <div class="terms">
                    <p>Fortiss, el logo de Fortiss y sus subyacentes son propiedad de Fortiss.Co y de sus respectivos duenos. <br>
                    Al comprar en Fortiss, usted admite que ha leido y esta de acuerdo con los <a href="templates/terms.html">Terminos y Condiciones</a></p>
                </div>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2025 <b>Fortiss Suplementos</b></p>
        </div>
    </footer>


    <script src="../script/a.js"></script>
    <script src="../script/nav&scroll.js"></script>
</body>
</html>