<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../base.css'>
    <link rel='stylesheet' href='../styles/terms.css'>
    <title>Terminos y condiciones</title>
</head>
<body class="terms_body">
    <div class="microheader">
        <div class="micrologo" id="micrologo" onclick="home()"></div>
    </div>
    
    <div class="terms">
        <h1>TÉRMINOS Y CONDICIONES DE FORTISS</h1>
        <h2>Bienvenido a Fortiss. Al utilizar nuestro sitio web y servicios, aceptas los siguientes términos y condiciones. Por favor, léelos cuidadosamente.</h2>
        
        <h3>1. Propósito del Servicio Fortiss se dedica exclusivamente a la venta y distribución de suplementos alimenticios. No elaboramos los productos que ofrecemos. Todos los suplementos son fabricados por terceros y cumplen con los estándares legales establecidos en el país de origen.</h3>
        
        <h3>2. Uso del Sitio Web El acceso y uso de nuestro sitio están sujetos a estas condiciones. Queda prohibido:</h3>
        <ul>Utilizar el sitio para fines ilícitos o contrarios a la moral.</ul>
        <ul>Reproducir o distribuir cualquier contenido sin autorización previa.</ul>
        
        <h3>3. Productos y Garantías Los productos ofrecidos en Fortiss están sujetos a disponibilidad. Aunque nos esforzamos por garantizar la calidad de los productos, Fortiss no se hace responsable por:</h3>
        <ul>Reacciones adversas debido al uso de los suplementos.</ul>
        <ul>Información inexacta proporcionada por los fabricantes.</ul>


        <h3>4. Política de Devoluciones Solo se aceptarán devoluciones en caso de defectos evidentes en el producto. Para solicitar un reembolso, el cliente deberá:</h3>
        <ul>Contactar a nuestro equipo de atención al cliente dentro de los primeros 7 días hábiles tras la recepción del producto.</ul>
        <ul>Presentar evidencia del defecto.</ul>

        <h3>5. Privacidad y Datos del Usuario Fortiss se compromete a proteger la privacidad de sus clientes. Consulta nuestra [Política de Privacidad] para obtener más información sobre cómo gestionamos tus datos.</h3>

        <h3>6. Modificaciones Fortiss se reserva el derecho de modificar estos términos en cualquier momento sin previo aviso. Recomendamos revisar regularmente esta sección para mantenerse informado.</h3>

        <h3>7. Legislación Aplicable Estos términos se regirán por las leyes aplicables en el país en el que operamos. En caso de disputas, estas serán sometidas a los tribunales competentes.</h3>

        <h3>8. Contacto Si tienes alguna pregunta o inquietud, puedes contactarnos en <br> <a href="">fortissuplmentos@gmail.com</a></h3>
    </div>

    <script src="../script/a.js"></script>

</body>
</html>